:root {
  --bodyFont: 'Ubuntu', sans-serif;
  --mainBlue: #0B4876;
  --lBlue: #edf1f5;
  --black: #404041;
  --mGray: #808284;
  --lGray: #BBBDC0;
  --green: #78c7a5;
  --yellow: #FFE12E;
  --red: #D33924;
  --white: #fff;
  --shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}